<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create a Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="../css/standard.css" data-th-href="@{css/standard.css}"/>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("input[name='type']").change(function(e){
			switch($(this).val()) {
			  case '1':
			  case '2':
				    $('#possibleAnswers').prop('disabled',false);
				    $('#possibleAnswers').prop('required',true);
			    break;
			  default:
				  	$('#possibleAnswers').prop('disabled',true);
			    	$('#possibleAnswers').prop('required',false);
			    	$('#possibleAnswers').val("");
			}
		});
	});
	</script>
</head>

<body>
	<div class="mainPanel">
		<nav class="navigator">
			<div class="navButton"><a href="homepage" data-th-href="@{/homepage}">Homepage</a></div>
			<div class="navButton"><a href="homepage" data-th-href="@{/Leaderboard}">Leaderboard</a></div>
			<div class="navButton" data-th-if="${user.getRole() == 2}"><a href="creation" data-th-href="@{Creation}" >Questionnaire's creation</a></div>
			<div class="navButton" data-th-if="${user.getRole() == 2}"><a href="deletion" data-th-href="@{deletion}" >Questionnaire's deletion</a></div>
			<div class="navButton" data-th-if="${user.getRole() == 2}"><a href="inspection" data-th-href="@{inspection}" >Inspection</a></div>
			<div class="navButton logout"><a href="logout" data-th-href="@{/logout}">Logout</a></div>
		</nav>
	</div>
<div class="mytable" align="left">
	<h1 align="center">Create a Questionnaire</h1>
	
			<br><br><br><br><br><br>
			<h2>Questionnaire recap</h2>
			<table>
	 			<tr>
	   		 	<th>Question</th>
	   				<th colspan="2">Possible Answers</th>
	 			</tr>
				<tr data-th-each="question : ${questions}"> 
					<td data-th-utext='${question.getQuestionText()}'>QuestionText</td>
					<td>
						<table>
						<tr  data-th-each="possibleAnswer : ${question.getPossibleAnswers()}">
							<td  data-th-utext='${possibleAnswer}'>AnswerText</td>
						</tr>
						</table>
					</td>
				<td ><a th:href="@{/DeleteQuestion(questionId=${question.getQuestion()},isNew=${1})}">Delete</a></td>
				</tr>
		
				<tr data-th-if="${!storedQuestions.isEmpty()}" data-th-each="storedQuestion : ${storedQuestions}"> 
					<td data-th-utext='${storedQuestion.getQuestion()}'>QuestionText</td>
						<td>
						<table>
						<tr data-th-each="possibleAnswer : ${storedQuestion.getQuestionAnswers()}">
							<td data-th-utext='${possibleAnswer.getAnswerText()}'>AnswerText</td>
						</tr>
						</table>
					</td>
				<td><a th:href="@{/DeleteQuestion(questionId=${storedQuestion.getId()},isNew=${0})}">Delete</a></td>
				</tr>
			</table>
	
			<h2>Add a new question</h2>
			<form action="#" data-th-action="@{/CreateQuestion}" method="POST">
						<fieldset>
							<p>
								Question text: <input type="text" name="text" required />
							</p>
							<p>
								Question Type: <br>
								 <input type="radio" id="1" name="type" value="1" required />
								 <label for="1">Checkbox</label><br>
								 <input type="radio" id="2" name="type" value="2" />
								 <label for="2">Selection</label> <br>
								 <input type="radio" id="3" name="type" value="3" />
								 <label for="3">String</label><br>
								 <input type="radio" id="4" name="type" value="4" />
								 <label for="4">Comment</label><br><br>
								  Possible Answers(Separate answers with a ';'): <br>
								  <input type="text" id="possibleAnswers" name="possibleAnswers" disabled /> 
						 
							</p>
				
	
	
							<input type="submit" name="CreateQuestion" value="Create Question">
						</fieldset>
					</form>
			
			<div data-th-if="${!allStoredQuestions.isEmpty()}">
			<h2>Add an already present question</h2>
				<table>
	 			<tr>
	   		 	<th>Question</th>
	  		 		<th>Possible Answers</th>
	 			</tr>
				<tr data-th-each="storedQuestion : ${allStoredQuestions}"> 
					<td data-th-utext='${storedQuestion.getQuestion()}'>QuestionText</td>
					<td>
						<table>
						<tr data-th-each="possibleAnswer : ${storedQuestion.getQuestionAnswers()}">
							<td data-th-utext='${possibleAnswer.getAnswerText()}'>AnswerText</td>
						</tr>
						</table>
					</td>
				<td><a data-th-href="@{/AddStoredQuestion(questionId=${storedQuestion.getId()})}">Add</a></td>
				</tr>
				</table>	
			</div>	
			
			<div data-th-if="${!(storedQuestions.isEmpty() && questions.isEmpty()) }" >
			<h2> Add a new Product </h2>
			<div data-th-if="${message!=null}"><p data-th-utext='${message}'> ;;</p> </div>
			<form action="#" data-th-action="@{/AddProduct}" method="POST" enctype="multipart/form-data">
						<fieldset>
							<p>
							Product name
							<input type="text" id="ProdName" name="pname" required/> 
							</p>
							<p>
							Product image
							<input type="file" id="ProdImage" name="pimg" required>
							</p>
							<input type="submit" name="Addproduct" value= "Add product">
						</fieldset>
			</form>
			<h2>Set name,date,product</h2><br>
	
			<form action="#" data-th-action="@{/CreateQuestionnaire}" method="POST">
						<fieldset>
							<p>
								Questionnaire name: <input type="text" name="name" required />
							</p>
							<p>
								Questionnaire Day: <input type="date" name="date"
									data-th-attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
									placeholder="yyyy-mm-dd" required />
							</p>
							Select a product: <br>
							<p data-th-each="product: ${products}">
					 		<input type="radio" data-th-id="${product.getId()}" data-th-value="${product.getId()}" name="chosenProd" required />
					 		<label data-th-for="${product.getId()}" data-th-utext="${product.getName()}">Product</label><br>				 
							</p>
							<input type="submit" name="Create questionnaire" value= "Create Questionnaire">
						</fieldset>
					</form>
			</div>	
</div>
</body>

</html>