@charset "ISO-8859-1";

body {
	text-align: center;
	padding-left: 75px;
}



a {
	text-decoration: none;
	color: #2274ff;
}

a:hover {
	color: #68a9ee;
}

/****************************
 *							*
 * 		INDEX PAGE			*
 *		CHANGE NICK			*
 *							*
 ****************************/
div.indexPanel {
	/* positioning and margin */
	position: relative;
	top: 100px;
	/* dimensions and padding */
	padding: 25px;
	/* decorations */
	align-items: center;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	display: inline-flex;
	flex-direction: column;
}

div.indexPanel > form, div.mainPanel > div.changeNickname > form {
	/* positioning and margin */
	/* dimensions and padding */
	/* decorations */
	align-items: center;
	display: inline-flex;
	flex-direction: column;
}

div.indexPanel > h2, div.mainPanel > div.changeNickname > h2 {
	/* positioning and margin */
	/* dimensions and padding */
	/* decorations */
	align-self: flex-start;
}

div.indexPanel > form > input, div.mainPanel > div.changeNickname > form > input {
	/* positioning and margin */
	margin-top: 25px;
	/* dimensions and padding */
	/* decorations */
}

div.indexPanel > form > input:first-child, div.mainPanel > div.changeNickname > form > input:first-child {
	/* positioning and margin */
	margin-top: 0px;
	/* dimensions and padding */
	/* decorations */
}

div.mainPanel > div.changeNickname {
	/* positioning and margin */
	/* dimensions and padding */
	/* decorations */
	align-items: center !important;
	display: inline-flex !important;
	flex-direction: column !important;
}

/****************************
 *							*
 * 		HOMEPAGE PAGE		*
 *							*
 ****************************/
div.mainPanel {
	/* positioning and margin */
	position: relative;
	top: 150px;
	/* dimensions and padding */
	padding: 0px;
	width: 1000px;
	/* decorations */
	align-items: start;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	display: inline-flex;
	flex-direction: column;
}

div.mainPanel > nav.navigator {
	/* positioning and margin */
	/* dimensions and padding */
	width: 100%;
	height: 38px;
	/* decorations */
	align-items: start;
	background-color: rgb(126, 173, 226);
	display: inline-flex;
	flex-direction: row;
}

div.mainPanel > nav.navigator > div.navButton {
	/* positioning and margin */
	/* dimensions and padding */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	/* decorations */
	align-items: start;
	background-color: rgb(29, 89, 212);
	display: inline-flex;
	flex-direction: row;
	font-size: 16px;
}

div.mainPanel > nav.navigator > div.logout {
	/* positioning and margin */
	position: absolute;
	right: 0px;
	/* dimensions and padding */
	/* decorations */
}

div.mainPanel > nav.navigator > div.navButton a, div.mainPanel > nav.navigator > div.navButton a:hover {
	color: rgb(255, 255, 255);
}

div.mainPanel > div.content {
	/* positioning and margin */
	/* dimensions and padding */
	width: calc(100% - 70px);
	min-height: 100px;
	padding: 35px;
	/* decorations */
	align-items: start;
	background-color: rgb(255, 255, 255);
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

.tableProp {
	background-color: rgb(126, 126, 226);
	border-style: solid;
	border-color: rgba(26, 26, 126, 0.5);
}

div.mainPanel > div.content > div > div.buttonsInline {
	/* positioning and margin */
	margin : 10px;
	/* dimensions and padding */
	/* decorations */
	justify-content: space-evenly;
}


a.myButton{
	margin : 5px;
	background: rgba(0,0,0,0.7);
    border: solid 2px rgba(10,240,20,0.5);
    border-radius: 5px;
    padding: 2px;
    color : rgba(255, 255, 255, 0.8);
}
/****************************
 *							*
 * 		GENERAL STYLE		*
 *							*
 ****************************/
.mytable td,th,tr{
	border: 1px solid black;
	border-collapse: collapse;
}
 
 
input[type=number], input[type=text], input[type=password], input[type=email] {
	/* positions, margin */
	/* dimensions and padding */
	width: 200px;
	height: 25px;
	padding: 5px;
	/* view */
	border: 1px solid rgba(166,166,166,1);
}
 
input[type=submit], input[type=button] {
	/* positions, margin */
	/* dimensions and padding */
	width: 150px;
	min-height: 40px;
	padding: 5px 10px 5px 10px;
	/* view */
	background-color: rgb(17,160,247);
	border: none;
	border-radius: 7px;
	color: rgb(255,255,255);
	font-weight: bold;
}

input[type=submit]:hover, input[type=button]:hover {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	background-color: rgb(49, 177, 255);
}

input[type=submit]:active, input[type=button]:active {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	background-color: rgb(16, 141, 217);
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.4);
}

textarea {
	/* positions, margin */
	/* dimensions and padding */
	padding: 5px;
	min-width: 200px;
	max-width: 200px;
	min-height: 60px;
	max-height: 150px;
	/* view */
	border: 1px solid rgba(166,166,166,1);
}

/****************************
 *							*
 * 			ERRORS			*
 *							*
 ****************************/
.error {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	color: rgb(255,0,0);
	display: inline-block;
}

.success {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	color: rgb(0, 128, 0);
	display: inline-block;
}

.hidden {
	/* positions, margin */
	/* dimensions and padding */
	/* view */
	display: none;
}